.texto-branco {
    color: #ffffff !important;
}

.texto-branco .titulo {
    -webkit-text-stroke-color: #ffffff;
}

.texto-branco .titulo:after {
    -webkit-text-stroke-color: #ffffff;
    color: #112765;
}

.logo-branco svg *, .logo-branco svg * {
    fill: #ffffff !important;
}

.contorno-branco {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}

.contorno-branco small {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ffffff;
}

.borda-branco {
    border-color: #ffffff !important;
}

.texto-cinza {
    color: #87868a !important;
}

.texto-destaque {
    color: #FFCA00 !important;
}

.texto-destaque .titulo {
    -webkit-text-stroke-color: #FFCA00;
}

.texto-destaque .titulo:after {
    -webkit-text-stroke-color: #FFCA00;
    color: #112765;
}

.fundo-destaque {
    background-color: #FFCA00 !important;
}

.texto-primario {
    color: #0149d4 !important;
}

.texto-primario .titulo {
    -webkit-text-stroke-color: #5e8ee2;
}

.texto-primario .titulo:after {
    -webkit-text-stroke-color: #112765;
    color: #112765;
}

.fundo-primario {
    background-color: #112765 !important;
}

.borda-primario {
    border-color: #112765 !important;
}

.aspas-primario:before, .aspas-primario:after {
    color: #112765;
}

.logo-primario svg * {
    fill: #112765 !important;
}


.texto-secundario {
    color: #EF4A37 !important;
}

.contorno-secundario {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #EF4A37;
}

.contorno-secundario small {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #2C3662;
}

.fundo-secundario {
    background-color: #2C3662 !important;
}

.fundo-loading {
    background-color: #FFFFFF !important;
}

.borda-secundario {
    border-color: #2C3662 !important;
}

.logo-secundario svg * {
    fill: #FF8200 !important;
}

.texto-formulario {
    color: #2C3662 !important;
}

.borda-formulario {
    border-color: #2C3662 !important;
}