* { margin: 0; padding: 0;}
html, body { font-family: 'Montserrat-Regular'; color: #292929;}

header {background-color: #fff;background-repeat:no-repeat; background-image: url('../images/bg-topo.jpg'); background-position: top right; background-size: cover;padding-bottom:40px}
header #title{text-align:left;}
header #title::before{content:'';background:url('../images/chat-balloon-02.png') no-repeat 100%;color: #fff;position:absolute;width:462px;height:400px;left:20%;top:10%;z-index:2}
header #title::after{content:'';background:url('../images/chat-balloon-03.png') no-repeat 100% bottom;color: #fff;position:absolute;width:502px;height:320px;left:5%;top:0;z-index:1}
header #title .title-text{background:url('../images/chat-balloon-01.png') no-repeat 0 130px;color: #fff; padding: 155px 15px 140px;position:relative;display:inline-block;text-align:right;z-index:3}
header #title h1{font-size:48px;font-family:'Montserrat-Regular';font-weight:bold;text-transform:uppercase;margin-right:60px;line-height:100%}
header #title h2{font-size:36px;font-family:'Montserrat-Regular';margin-right:60px;line-height:100%}

header #locais p{ color: #fff; font-size: 42px; margin: 20px 0 25px; font-family: 'Montserrat-Regular'; font-weight: bold; line-height: 45px;padding-left:10%}

header #locais ul{list-style:none;margin:0;padding:0;display:table;width:100%;table-layout: fixed;}
header #locais ul li{text-align:center;display:table-cell;position:relative;padding:0 10px}
header #locais ul li+li{border-left:3px solid #fff}


header #locais a{text-align: center; font-size: 36px; color: #fff; font-family: 'Montserrat-Regular'; padding-bottom: 10px;text-decoration:none;text-shadow:0 1px 3px rgba(0,0,0,.1)}
header #locais a:hover{text-decoration: none;}
header #locais a time{font-size: 46px;font-family: 'Montserrat-Regular';font-weight:bold;display:block;width:100%}
header #locais a h4{font-size: 20px;font-family: 'Montserrat-Regular';text-transform:uppercase;font-weight:400;vertical-align:middle;display:table-cell;line-height:1.2em}
header #locais a p{font-size: 18px; color: #ca5a18; margin: 0; line-height: 20px; font-family: 'Montserrat-Regular';}
header .box-novidade-h{display:none}
header #locais .box-novidade-v img{position:absolute;bottom:0;left:10px;width:100%}
header #locais .flag{background: #dc1f59; color: #fff;}
header #locais .flag.breve{background: #dc1f59; color: #fff;}
header #locais .flag.canoas,
header #locais .flag.brasilia,
header #locais .flag.aracaju{margin-top:10px}
header #locais .flag a{font-family: 'Montserrat-Regular';font-size:16px;line-height:100%; padding: 15px 0; text-align: center; display: block;}

.ancoras{padding-left: 0; padding-right: 0;}
.ancoras div h2{color: #fff; text-align: center; font-size: 48px; padding-top: 95px; margin: 0;}

#link_oficinas{background: #f68d1f; height: 225px; cursor: pointer;}
#link_cronograma{background: #ff730e; height: 225px; cursor: pointer;}
#link_inscricao{background: #ff4e05; height: 225px; cursor: pointer;}
#link_local{background: #eb4204; height: 225px; cursor: pointer;}
#link_galeria{background: #c74616; height: 225px; cursor: pointer;}

section .titulo{background: #f68d1f; height: 75px; margin: 52px 0 0 0; position: absolute;}
section .oficina .textos{}
section .oficina h6{font-size: 26px; color: #fff; margin: 16px 0 0 16px;font-family:'Montserrat-Regular';}
section .oficina p{font-size: 25px; color: #fff; clear: both;}
section .oficina{height:64px; position: absolute; right: 0; width: 100%;}
section .oficina1{background: #f68d1f;}
section .oficina2{background: #d10707;top: 74px;}
section .oficina3{background: #1684eb;top: 148px;}
section#oficinas .col-md-5{margin-top: 225px;}
section h3{color: #fff; font-size: 36px; font-weight: 500; }
section p{font-size: 24px;}
section h5{font-size: 30px; text-align: center;}
section .lembrete{margin-top: 220px;}
section .avatar{margin-top:65px;margin-bottom: 60px;}

section#cronograma{padding-top:200px;position:relative}
section#cronograma .titulo { background: #dc1f59;top:0}
section#cronograma .col-md-4, section#cronograma .col-md-8 { margin-top: 225px;}
section#cronograma ul.pull-right { }

section#cronograma .crono-list{position:relative}
section#cronograma .crono-list li{display:table;width:100%; color: #292929; font-size: 26px; list-style: none; line-height: 1.2em; font-weight: 400; padding:20px 0}
section#cronograma .col-1{width:50%;text-align:right;padding-right:20px;font-weight:500}
section#cronograma .col-1:after{content:'';width:4px;position:absolute;top:0;bottom:0;left:50%;margin:auto;background-color:#ffab57;}
section#cronograma .col-2{width:50%;padding-left:20px}
section#cronograma .col-1,
section#cronograma .col-2{display:table-cell}


section#cronograma .col-md-offset-2 { margin-top: 90px;}
section#cronograma a { background: #ff4e05; color: #fff; width: 100%; display: block; text-align: center; padding: 14px; border-radius: 45px; font-size: 41px; font-weight: 500;box-shadow:inset 0 -4px 10px rgba(0,0,0,.3)}
section#cronograma a:hover { text-decoration: none; opacity: 0.8;}
section#cronograma a:focus { text-decoration: none; }


section#local{margin-top:60px}
section#local .titulo {background-color:#ff4e05;}
section#local .row { margin-top: 225px;}
section#local .local-box {text-align: left;}
section#local .nome-local {color:#4a4a4a;text-decoration: none;}
section#local .endereco{color: #6b6a6a;line-height: 120%;}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
section#galeria{margin-top:60px}
section#galeria .titulo {background-color:#c74616;}
section#galeria .row { margin-top: 225px;}
section#galeria .group1 { padding: 15px; }

footer { background: #042e6f; padding: 26px 0; margin-top: 50px;}
footer ul { float: left;}
footer ul li { display: inline-block; padding: 15px;}
footer .right { float: right;}


#inscricao { margin-bottom: 50px; }
#inscricao header { background: none; height: auto; text-align: center; color: #dc1f59;}
#inscricao header h1 { font-size: 44px; font-family: 'Montserrat-Regular'; border-bottom: 4px solid #dc1f59; display: -webkit-inline-box;}
#inscricao header h2 { font-size: 45px; font-family: 'Montserrat-Regular'; margin-top: 0;}

.system-msg{font-size:24px;padding:10px}

#inscricao .system-msg{background-color:#fff;font-size:18px;padding:20px;margin:0}
#inscricao .success{background-color:#edf9d8;}
#inscricao .warning{background-color:#fff5d3;}
#inscricao .success:before{content:"\2714";font-size:24px;font-weight:bold;display: inline-block;color:#52a61f;margin-right:10px}
#inscricao .warning:before{content:"\26A0";font-size:24px;font-weight:bold;display: inline-block;color:#ffb300;margin-right:10px}
#inscricao .validate-msg{color:red}

#inscricao section .col-md-offset-1 { margin-top: 0;}
#inscricao section h3 { font-size: 30px; color: #000; font-family: 'Montserrat-Regular'; margin-bottom: 45px; margin-top: 60px;}
#inscricao section h4 { font-size: 24px; color: #000; font-family: 'Montserrat-Regular'; }

#inscricao section .prof-aplicador{}
#inscricao section .prof-aplicador h3{margin:0!important}
#inscricao section .resposta-aplicador{}
#inscricao section .resposta-aplicador label{display:inline-block;padding:0 10px;cursor:pointer;}
#inscricao section .resposta-aplicador label span{font-size:24px;font-weight:500;}

#inscricao section form .row { margin: 12px 0;}
#inscricao section form .row .col-md-6 { padding-left: 0; padding-right: 15px;}
#inscricao section form .row .col-md-6 + .col-md-6 { padding-left: 15px; padding-right: 0;}
#inscricao section form select { width: 100%; border: 2px solid #dc1f59; border-radius: 8px; margin: 1px 0; height: 42px; padding: 10px; outline: none;}
#inscricao section form fieldset label { float: left; clear: both; color: #000; font-size: 17.5px; font-family: 'Montserrat-Regular'; }
#inscricao section form fieldset input { float: left; clear: both; border: 2px solid #dc1f59; border-radius: 8px; width: 100%; padding: 8px 10px; outline: none;}
#inscricao section form input[type="submit"] { background: #dc1f59; border-radius: 36px; border: none; width: calc(100% - 260px); padding: 13px 0; color: #fff; font-size: 37px; margin: 70px 130px;}
#inscricao section form input[type="submit"]:hover { opacity: 0.8;}
#inscricao section p { font-size: 22px; font-family: 'Montserrat-Regular'; color: #000;	text-align: justify;}
#inscricao section p.text-center { text-align: center !important;}
#inscricao section .noppadding { padding: 0;}
#inscricao section #event-address{display:none}
#inscricao section .address{/* background-color:#fff;border:2px solid #f66f21;border-radius:8px; */font-size:16px;padding:10px;}
#inscricao section .text-address{font-size:24px;font-weight:500;}
.mobile { display: none;}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#parceiros { margin-top: 20px;}
#parceiros img { margin: 0 auto; height: 65px;}
#escola_outra { display: none;}


.select2 .select2-selection{
    float: left;
    clear: both;
    border: 2px solid #dc1f59;
    border-radius: 8px;
    width: 100%;
    padding: 5px 10px;
	outline: none;
	height: 42px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-left: -6px;
    margin-top: 4px;
}


@media (max-width: 1200px) {
	header #title h1 { font-size: 76px}
	header #title h2 { font-size: 50px;}
	header #title h2 span { font-size: 66px;}

	section .oficina h6{font-size:20px}

	header #locais .box-novidade-v{display:none;}
	header .box-novidade-h{width:100%;display:block;float:none;text-align:center;}
	header .box-novidade-h img{margin-top:50px;margin-bottom:0px;max-width:100%}

	.avatar img { width: 100%;}

	section#local .local-box {text-align: center;margin-bottom:60px}
	section#local .local-box.last {margin-bottom:0}
	/*section#local .endereco{text-align: center;}*/
}
@media (max-width: 1024px) {
	.group1 img { width: 100%;}
	header #title h1 {font-size:36px;}
	header #title h2 {font-size:36px;}
}
@media (max-width: 768px) {
	header {background-position: top center;padding-bottom:20px}
	header #locais a time { font-size: 32px;}
	header #locais a h4 { font-size: 16px;}

	.avatar{ text-align:center}
	.avatar h5{margin-bottom:60px}
	.avatar img { width: 50%;}

	section#cronograma #btn_inscricao{text-align:center}
	section#cronograma #btn_inscricao a{display:inline-block;font-size:24px;padding:10px 20px;margin-top:40px;width:auto}

	section h3 { text-align: center;}
	section .oficina{height:88px}
	section .oficina1, section .oficina2, section .oficina3 { right: 0 !important; width: 100% !important;}
	section .oficina .textos { float: none;}
	section .oficina h6{font-size:24px}
	section .oficina h6, section .oficina p { float: none; text-align: center;}
	section#cronograma .col-md-8 { margin-top: 0; }
	#btn_inscricao { float: left; }
	.group1 img {width:100%;}

	footer ul { float: none; text-align: center; }
	footer .right { float: none;}
	footer .right img { display: block; margin: 0 auto; width:100%}
}

@media (min-width: 768px) and (max-width: 990px) {
	section h3{text-align:center}
	.avatar img{width:60%}
	.container{width:auto}
	.oficina.oficina1,
	.oficina.oficina2,
	.oficina.oficina3{right:0!important;text-align:center}
	.oficina .textos,
	.oficina .textos h6,
	.oficina .textos p{float:none!important;}
}

@media (max-width: 640px) {
	header {background-position: top center;padding-bottom:20px}

	header #title::before{display:none}
	header #title::after{display:none}
	header #title .title-text{background:url('../images/chat-balloon-01.png') no-repeat 0 25px;padding: 50px 15px 140px;position:relative;display:inline-block;text-align:left;width:100%}

	header #title h1 {margin-left:50px;margin-right:0;}
	header #title h2 {margin-left:50px;margin-right:0;}

	header #locais p{font-size:32px;line-height:1.2em;padding-left:20px}
	header #locais ul{display:block;margin:auto;width:90%;}
	header #locais ul li{width:100%;display:inline-block;text-align:center;border-left:none}
	header #locais ul li+li{border-left:none;}
	header #locais a time { font-size: 24px;vertical-align:middle;display:inline-block;width:auto}
	header #locais a h4 { font-size: 18px;vertical-align:middle;display:inline-block;text-align:left;}

	section#cronograma ul.pull-right{padding-right:20px;border-right:2px solid #ffab57}
	section#cronograma ul.pull-left { margin-left: 10px; width: calc(100% - 130px)}
	section#cronograma ul li { font-size: 15px; line-height: 30px;}
	#inscricao section form input[type="submit"] { font-size: 20px; width: 100%; margin: 70px 0;}
}
@media (max-width: 480px) {
	header {background-color: #ffab57;background-repeat:no-repeat; background-image: url('../images/bg-topo.jpg'); background-position: top center; background-size: cover;padding-bottom:40px}
	header #title{text-align:left;}
	header #title::before{display:none}
	header #title::after{display:none}
	header #title .title-text{background:transparent;width:100%;text-align:center}
	header #title h1 {font-size:30px;font-family:'Montserrat-Regular';font-weight:bold;text-transform:uppercase;margin:0;line-height:100%}
	header #title h2 {font-size:24px;font-family:'Montserrat-Regular';margin:0;line-height:100%;margin-top:20px}

	section .oficina h6{font-size:24px}

	header #locais p {color:#fff;font-size:24px;margin:20px 0 25px;font-family:'Montserrat-Regular';font-weight:500;line-height:100%;padding:0;text-align:center}

	header #locais ul{list-style:none;margin:0;padding:0;display:table;width:100%;}
	header #locais ul li{text-align:left;display:block;position:relative;padding:15px 10px;border:0;width:100%}
	header #locais ul li+li{border:none;border-top:1px solid rgba(255,255,255,.3)}


	header #locais a time { font-size: 32px;font-family: 'Montserrat-Regular';font-weight:bold;display:inline-block;width:40%}
	header #locais a h4 { font-size: 24px;font-family: 'Montserrat-Regular';text-transform:uppercase;font-weight:400;vertical-align:middle;display:table-cell;line-height:1.2em;display:inline-block}

	section#cronograma .crono-list li{font-size:15px; line-height:30px;}
}
@media (max-width: 360px) {
	header #title .title-text{padding:20px 0 0 0}
	header #title h1 {font-size:24px;}
	header #title h2 {font-size:16px;}
	header #locais p {color:#fff;font-size:18px;margin:20px 0 25px;font-family:'Montserrat-Regular';font-weight:500;line-height:100%;padding:0;text-align:center}

	header #locais a time { font-size: 24px;font-family: 'Montserrat-Regular';font-weight:bold;display:inline-block;width:50%}
	header #locais a h4 { font-size: 16px;font-family: 'Montserrat-Regular';text-transform:uppercase;font-weight:400;vertical-align:middle;display:table-cell;line-height:1.2em;display:inline-block}

	section .oficina{height:76px}
	section .oficina h6{font-size:20px}
	section .oficina p{font-size:18px}

	section .lembrete p{text-align:left;font-size:18px;line-height:1.2em;padding:10px}

	.ancoras div h2 { font-size: 30px;}
	section h3 { font-size: 25px;}
	section#cronograma ul.pull-right{padding-right:10px}
	section#cronograma ul.pull-left {width:auto}
	section#cronograma ul li { font-size: 12px;}
	section#cronograma ul li.mobile-fix{display:block;line-height:1.7em}
	footer .social{margin-bottom:20px}
	footer .social a{display:block;width:100%;}
	footer .social img{width:100%;}
	footer .right img { width: 100%;}
}
.no-padding-left {
	padding-left: 0;
}
.no-padding-right {
	padding-right: 0;
}