@import url("https://use.typekit.net/qgs3kwo.css");

@font-face {
    font-family: 'Segoe-UI';
    src: url('../fonts/SEGOEUIB.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

.titulo {
    -webkit-text-stroke-width: 2px;
    color: transparent;
}

.texto-branco .titulo {
    -webkit-text-stroke-width: 0.5px;
}

.texto-destaque .titulo {
    -webkit-text-stroke-width: 0.5px;
}

#sobre h1 {
    -webkit-text-stroke-width: 1px;
}

body {
    font-family: museo, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

.loading {
    background: #333;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 200000;
}

.loading .animated {
    width: 100%; 
    height: 100vh;
}

.loading.ativo {
    display: block;
}

#tempo { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}

.slick-arrow::before {
    opacity: 0.1;
}

header {
    background: url('../images/bg-banner.png') no-repeat;
    background-position: top center;
    background-size: contain;
    position: relative;
}

header .buttons {
    padding-top: 15px;
}

header .container {
    /*
    background: url('../images/mulher_03.png') no-repeat;
    background-position: center bottom;
    background-size: contain;    
    */
}

header .autores {
    position: absolute;
    bottom: -27px;
    left: 0;
    right: 0;
}

header .local-titulo {
    min-height: 420px;
    margin-bottom: 30px;
    padding-top: 34px;
}

header h1 {
    font-family: merengue-script, sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 100px;
}

header h1 span {
    display: block;    
}
/*
header h1 span.curso {
    font-size: 20px;
    font-family: museo-slab, serif;
    font-weight: 700;
    line-height: 0;
    margin-left: -185px;
}

header h1 span.gestao {
    font-size: 93px;
    line-height: -1;
    margin: 0;
    padding: 0;
    line-height: 0.8;
    word-spacing: 45px;
}

header h1 span.gestao:after {
    font-size: 93px;
    content: "Gestão";
    margin-top: -4px;
    margin-left: -454px;
    position: absolute;
}

header h1 small {
    font-size: 64px;
}

header h1 small:after {
    font-size: 66px;
    content: "das";
    margin-top: 15px;
    margin-left: -96px;
    position: absolute;
}

header h1 span.emocoes {
    font-size: 137px;
    line-height: 0.4;
}

header h1 span.emocoes:after {
    font-size: 139px;
    content: "emoções";
    margin-top: -5px;
    margin-left: -450px;
    position: absolute;
}
*/

header h1 span.curso {
    font-size: 25px;
    font-family: museo-slab, serif;
    font-weight: 700;
    line-height: 0;
    margin-left: -210px;
}

header h1 span.gestao {
    font-size: 110px;
    line-height: -1;
    margin: 0;
    padding: 0;
    line-height: 0.8;
    word-spacing: 45px;
}

header h1 span.gestao:after {
    font-size: 110px;
    content: "Gestão";
    margin-top: -4px;
    margin-left: -524px;
    position: absolute;
}

header h1 small {
    font-size: 72px;
}

header h1 small:after {
    font-size: 74px;
    content: "das";
    margin-top: 22px;
    margin-left: -108px;
    position: absolute;
}

header h1 span.emocoes {
    font-size: 187px;
    line-height: 0.4;
}

header h1 span.emocoes:after {
    font-size: 190px;
    content: "emoções";
    margin-top: -8px;
    margin-left: -615px;
    position: absolute;
}

header h2 {
    font-weight: 900;
    font-size: 22px;
    text-align: left;
    line-height: 0.9;
    margin-left: 13%;
}

header h3 {
    margin-top: 60px;
    margin-left: 5%;
    font-size: 23px;
    font-weight: 500;
}

header h3 strong {
    font-weight: 900;
}

header h6 {
    font-size: 30px;
    font-weight: 700;    
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    line-height: 1;
    -webkit-box-shadow: 0px 4px 1px 1px rgba(0,0,0,0.18); 
    box-shadow: 0px 4px 1px 1px rgba(0,0,0,0.18);
    position: fixed;
    z-index: 99999;
    margin-left: 20px;
    cursor: pointer;
    min-width: 225px;
}

header h6.inscrever {
    font-size: 30px;
    padding: 4px 26px;
    background-color: blue !important;
    color: #FFF !important;
}

header h6.cadastrado {
    font-size: 22px;
    margin-top: 53px;
    padding: 8px 26px;
}

header .presente {
    padding-left: 85px;
}

header .local-logo svg {
    height: 100px;
}

header:after {    
    content: url('../images/onda-cabecalho.svg');
    margin-top: 10px;
    position: relative;
    bottom: -11px;
}

#parceiros svg {
    margin: 0 0 0 0;
}

#parceiros .logo-1 svg, #parceiros .logo-2 svg {
    height: 90px;
}

#parceiros h4 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
}

#parceiros h4 strong {
    font-weight: 700;
}

#parceiros h5 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin-top: 20px;
}

#parceiros h5 strong {
    font-weight: 700;
}

#apresentacao {
    background: url('../images/mapa.jpg') no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 30px;
}

#apresentacao h2 {
    font-size: 50px;
    font-family: museo-slab, serif;
    font-weight: 700;
    display: inline-block;
    padding: 0 20px;
    margin: 90px 0 0 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#apresentacao h3 {
    font-size: 111px;
    font-family: merengue-script, sans-serif;
    font-weight: 400;
    text-align: right;
    margin: -15px 50px 0 0;
}

#apresentacao h3:after {
    font-size: 110px;
    content: "E você?";
    margin-top: -4px;
    margin-left: -397px;
    position: absolute;
}

#apresentacao .globo {
    position: absolute;
    animation: girar 24s linear infinite;
}

#apresentacao .pessoa {
    position: relative;
    z-index: 9999;
}

#numeros {
    background: url('../images/bg-conteudo.png') no-repeat;
    background-size: cover;
}

#numeros:before {    
    content: url('../images/numeros-topo.svg');
}

#numeros:after {    
    content: url('../images/numeros-base.svg');
    position: relative;
    bottom: -11px;
}

#numeros h2 {
    font-size: 80px;
    font-family: merengue-script, sans-serif;
    font-weight: 400;  
    margin: -15px 0 0 0;
    line-height: 1.1;
    position: relative;
    z-index: 9999;
}

#numeros h2:after {
    font-size: 80px;
    content: '"o mundo que somos",';
    margin-top: -2px;
    margin-left: -725px;
    position: absolute;
    z-index: 9999;
}

#numeros h3 {
    font-size: 55px;
    font-family: merengue-script, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 -250px; 
}

#numeros h4 {
    font-family: museo, serif;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-bottom: 70px;
}

#numeros h5 {
    font-size: 98px;
    font-family: museo, serif;
    font-weight: 900;
    font-style: normal;
    line-height: 0.95;
    margin-left: -12px;
    margin-top: 15px;
}

#numeros h5 small {
    font-size: 48px;
    font-weight: 800;
    position: relative;
    top: -22px;
}

#numeros .local-valor {
    width: 120px;
    height: 120px;
    border: 3px solid;
    text-align: center;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin-top: 20px;
}

#numeros .local-texto {
    padding: 10px 30px;
}

#numeros p {
    font-family: museo, serif;
    font-weight: 500;
    font-style: italic;
}

#sobre {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ebebeb;
}

#sobre .local-titulo {
    padding: 70px 0 80px 0;
}

#sobre h1 {
    font-family: merengue-script, sans-serif;
    font-weight: 400;
    margin: 40px 0 60px 0;
}

#sobre h1 span {
    display: block;    
}

#sobre h1 span.gestao {
    font-size: 80px;
    line-height: -1;
    margin: 0;
    padding: 0;
    line-height: 0.8;
    word-spacing: 45px;
}

#sobre h1 span.gestao:after {
    font-size: 80px;
    content: "Avaliação";
    margin-top: -4px;
    margin-left: -490px;
    position: absolute;
}

#sobre h1 small {
    font-size: 50px;
}

#sobre h1 small:after {
    font-size: 52px;
    content: "da";
    margin-top: 15px;
    margin-left: -55px;
    position: absolute;
}

#sobre h1 span.emocoes {
    font-size: 100px;
    line-height: 1;
}

#sobre h1 span.emocoes:after {
    font-size: 102px;
    content: "aprendizagem escolar";
    margin-top: -5px;
    margin-left: -905px;
    position: absolute;
}

#sobre h2 {
    font-size: 35px;
    padding: 5px 20px;
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#mensagem {
    background: url('../images/bg-mensagem.jpg') no-repeat;
    background-position: center center;
    background-size: cover; 
    position: relative;
}

#mensagem h3 {
    background-color: #FFF;
    color: #112765;
}

#mensagem .espaco {
    min-height: 30px;
}

#mensagem .container {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
}

#mensagem:before {    
    content: url('../images/mensagem-topo.svg');
}

#mensagem:after {    
    content: url('../images/mensagem-base.svg');
    position: relative;
    bottom: -11px;
}

#mensagem .foto {
    border: 4px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


#mensagem .frase {
    font-size: 18px;
    font-family: museo, serif;
    font-weight: 500;
    font-style: italic;
    padding-top: 20px;
    padding-right: 40px;
}

#mensagem .aspas:before {
    content: '“';
    font-family: adobe-caslon-pro, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 170px;
    transform: rotate(-2deg);
    position: absolute;
    top: -30px;
    left: -70px;
}

#mensagem .aspas:after {
    content: '“';
    font-family: adobe-caslon-pro, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 120px;
    transform: rotate(181deg);
    position: absolute;
    bottom: 45px;
    right: -20px;
}

#preparese {
    padding-top: 90px;
    padding-bottom: 90px;
}

#preparese h2 span {
    display: block;
}

#preparese h2 span.preparese, #preparese h2 span.vida {
    font-size: 28px;
    font-family: museo, serif;
    font-weight: 700;
    font-style: italic;
    display: block;
}

#preparese h2 span.preparese {
    padding-bottom: 10px;
    position: relative;
    left: -130px;
}

#preparese h2 span.vida {
    padding-top: 30px;
    position: absolute;
    left: 35%;
    text-align: left;
    margin-left: 50px
}

#preparese h2 span.texto-primario {
    font-size: 90px;
    font-family: "Segoe-UI", sans-serif;
    font-weight: 400;
    line-height: 0.7;
}

#formulario h3 {
    font-weight: 500;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#formulario label {
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    margin-left: 15px;
    margin-bottom: 0;
}

#formulario small {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    margin-left: 5px;
}

#formulario input, #formulario select {
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    border: 2px solid;
}

.select2, .select2-results__option {
    font-size: 17px;
}

.select2-selection {
    -webkit-border-radius: 19px !important;
    -moz-border-radius: 19px !important;
    border-radius: 19px !important;
    border: 2px solid !important;
    height: 40px !important;
    border-color: #2C3662 !important;
}

.select2-selection__arrow {
    top: 7px !important; 
}

.select2-selection__rendered {
    font-family: inherit;
    font-weight: 500;
    margin: 5px 0 0 7px;
}

#formulario .form-group {
    margin-bottom: 7px;
}

#formulario button {
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

#formulario .local-senha {
    position: relative !important;
}

#formulario .ver-senha {
    opacity: 0.4;
    font-size: 22px !important;
    cursor: pointer !important;
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
    z-index: 99 !important;
}

footer {    
    padding: 0; 
}

footer div.fundo-primario {    
    padding-bottom: 30px; 
}

footer .logo-1 svg, footer .logo-2 svg {
    height: auto;
    max-height: 80px;
}

footer .logo-1 svg, footer .logo-2 svg {
    height: auto;
    max-height: 80px;
    max-width: 280px;
}

footer:before {    
    content: url('../images/onda-rodape.svg');
    position: relative;
    bottom: -11px;
}

.modal {
    z-index: 100000;
}

.modal-content {
    border-radius: 0 !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

#modal-resposta .modal-content {
    background-color: #122867;
    border: none;
}

#modal-resposta .modal-header button {
    color: #fff;
    font-weight: 300;
}

#modal-resposta .modal-body {
    text-align: center;
}

#modal-resposta .modal-body h3 {
    font-size: 40px;
    padding: 4px 40px;
    border-radius: 30px;
    display: inline-block;
    background-color: #FFF;
    color: #112765;
    margin: 50px 0 30px 0;
    -webkit-box-shadow: 0px 4px 1px 1px rgba(0,0,0,0.18); 
    box-shadow: 0px 4px 1px 1px rgba(0,0,0,0.18);
}

#modal-resposta .modal-body p {
    color: #fff;
    font-weight: 500;
}

#modal-resposta .modal-body p.ok {
    color: #FFF;
    font-size: 18px;
}

#modal-dados .modal-body {
    padding: 0 40px 40px 40px;
}

#modal-dados .modal-body p {
    font-size: 20px;
}

.logos svg {
    width: 100% !important;
}

.logos .sas {
    width: 20% !important;
    padding: 0 10px;
}

.logos .focos {
    width: 42% !important;
    padding: 0 10px;
}

.logos .ei {
    width: 38% !important;
    padding: 0 10px;
}

header .logo-branco {
    padding: 0 50px;
}

footer .logos .sas {
    padding: 0 20px;
}

footer .logos .focos {
    padding: 0 20px;
}

footer .logos .ei {
    padding: 0 20px;
}

#modal-resposta .modal-body p small {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 40px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    -webkit-box-shadow: 0px 4px 1px 1px rgba(0,0,0,0.18); 
    box-shadow: 0px 4px 1px 1px rgba(0,0,0,0.18);
}

.select2-container--focus {
    /*display: none;*/    
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #aaa !important;
}

.main-header {
    min-height: 600px;
}

#avaliar-para-que {
    background: url('../images/avaliar_para_que.png') no-repeat;
    min-height: 250px;
    background-size: contain;
    background-position: center;
    margin-top: 5%;
}

#sobre-image {
    background: url('../images/sobre-o-curso.png') no-repeat;
    min-height: 250px;
    background-size: contain;
    background-position: center;
}

.faca-sua-inscricao {
    font-family: 'Segoe-UI', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
}

.conteudo-label {
    font-family: 'Segoe-UI', sans-serif !important;
}

.atencao-texto {
    color: #FFF;
}

.dias-uteis-texto {
    color: #FFFFFF;
}

.texto-destaque-resposta {
    background-color: #FFF;
    padding: 2px;
    border-radius: 5px;
}

.texto-destaque-resposta h4 {
    font-weight: bold;
    color: #1A2F7C !important;
}

.texto-destaque-resposta p {
    font-weight: bold;
    color: #1A2F7C !important;
}

/*
.system-msg{font-size:24px;padding:10px}

#inscricao .system-msg{background-color:#fff;font-size:18px;padding:20px;margin:0}
#inscricao .success{background-color:#edf9d8;}
#inscricao .warning{background-color:#fff5d3;}
#inscricao .success:before{content:"\2714";font-size:24px;font-weight:bold;display: inline-block;color:#52a61f;margin-right:10px}
#inscricao .warning:before{content:"\26A0";font-size:24px;font-weight:bold;display: inline-block;color:#ffb300;margin-right:10px}
#inscricao .validate-msg{color:red}
*/